<page-header>
    <actions>
        <button-save form="$ctrl.form" translation-prefix="{{::$ctrl.translationPrefix}}"></button-save>
    </actions>
    <span ng-if="!$ctrl.data.id" translate>{{::$ctrl.translationPrefix}}_DETAIL_TITLE_NEW</span>
    <span ng-if="$ctrl.data.id" translate>{{::$ctrl.translationPrefix}}_DETAIL_TITLE_EDIT</span>
</page-header>

<div class="row">
    <div class="col-md-12">
        <form name="$ctrl.form"
              role="form"
              autocomplete="off"
              confirm-on-exit="$ctrl.form.$dirty"
              confirm-message-window="{{::$ctrl.translationPrefix+'_DETAIL_UNSAVED_DATA_ALERT_TITLE' | translate}}"
              confirm-message-route="{{::$ctrl.translationPrefix+'_DETAIL_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">

            <field name="firstName" type="text" required="true"
                   label="{{::$ctrl.translationPrefix+'_DETAIL_FIRST_NAME' | translate}}"
                   model="$ctrl.data.firstName"
            ></field>

            <field name="lastName" type="text" required="true"
                   label="{{::$ctrl.translationPrefix+'_DETAIL_LAST_NAME' | translate}}"
                   model="$ctrl.data.lastName"
            ></field>

            <field name="email" type="email" required="true"
                   label="{{::$ctrl.translationPrefix+'_DETAIL_EMAIL' | translate}}"
                   model="$ctrl.data.email"
            ></field>

            <field name="username" type="text" required="true"
                   label="{{::$ctrl.translationPrefix+'_DETAIL_USERNAME' | translate}}"
                   model="$ctrl.data.username"
            ></field>

        </form>
    </div>
</div>

<page-footer>
    <actions>
        <button-save form="$ctrl.form" translation-prefix="{{::$ctrl.translationPrefix}}"></button-save>
    </actions>
</page-footer>
