<page-header>
    <actions>
        <button-save form="$ctrl.form" translation-prefix="{{::$ctrl.translationPrefix}}" ng-click="$ctrl.save()"></button-save>
    </actions>
    <span ng-if="!$ctrl.data.id">{{::$ctrl.translationPrefix+'_TITLE_NEW' | translate}}</span>
    <span ng-if="$ctrl.data.id">{{::$ctrl.translationPrefix+'_TITLE_EDIT' | translate}} {{::$ctrl.data.id}}</span>
</page-header>

<div class="row">
    <div class="col-md-12">
        <form name="$ctrl.form"
              role="form"
              autocomplete="off"
              confirm-on-exit="$ctrl.form.$dirty"
              confirm-message-window="{{::$ctrl.translationPrefix+'_UNSAVED_DATA_ALERT_TITLE' | translate}}"
              confirm-message-route="{{::$ctrl.translationPrefix+'_UNSAVED_DATA_ALERT_MESSAGE' | translate}}">

            <field name="firstName" type="text" required="true"
                   label="{{::$ctrl.translationPrefix+'_FIELD_FIRST_NAME' | translate}}"
                   model="$ctrl.data.firstName"
            ></field>

            <field name="middleName" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_MIDDLE_NAME' | translate}}"
                   model="$ctrl.data.middleName"
            ></field>

            <field name="lastName" type="text" required="true"
                   label="{{::$ctrl.translationPrefix+'_FIELD_LAST_NAME' | translate}}"
                   model="$ctrl.data.lastName"
            ></field>

            <field name="category" type="select" required="true"
                   values="$nomenclatures.list('memberCategory')"
                   label="{{::$ctrl.translationPrefix+'_FIELD_CATEGORY' | translate}}"
                   model="$ctrl.data.category"
            ></field>

            <field name="email" type="email"
                   label="{{::$ctrl.translationPrefix+'_FIELD_EMAIL' | translate}}"
                   model="$ctrl.data.email"
            ></field>

            <field name="username" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_USERNAME' | translate}}"
                   model="$ctrl.data.username"
            ></field>

            <field name="country" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_COUNTRY' | translate}}"
                   model="$ctrl.data.country"
            ></field>

            <field name="city" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_CITY' | translate}}"
                   model="$ctrl.data.city"
            ></field>

            <field name="postalCode" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_POSTAL_CODE' | translate}}"
                   model="$ctrl.data.postalCode"
            ></field>

            <field name="address" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_ADDRESS' | translate}}"
                   model="$ctrl.data.address"
            ></field>

            <field name="phone" type="phone"
                   label="{{::$ctrl.translationPrefix+'_FIELD_PHONE' | translate}}"
                   model="$ctrl.data.phone"
            ></field>

            <field name="membershipFirstDate" type="date"
                   label="{{::$ctrl.translationPrefix+'_FIELD_MEMBERSHIP_FIRST_DATE' | translate}}"
                   model="$ctrl.data.membershipFirstDate"
            ></field>

            <field name="cardId" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_CARD_ID' | translate}}"
                   model="$ctrl.data.cardId"
            ></field>

            <field name="accessId" type="text"
                   label="{{::$ctrl.translationPrefix+'_FIELD_ACCESS_ID' | translate}}"
                   model="$ctrl.data.accessId"
            ></field>

            <field name="familyMembers" type="multiple-choice-with-new-entry" values-model="Member" required="true"
                   label="{{::$ctrl.translationPrefix+'_FIELD_FAMILY_MEMBERS' | translate}}"
                   model="$ctrl.data.familyMembers" on-new-entry="$ctrl.onNewMemberEntry(entry)" new-entry-placeholder="({{::$ctrl.translationPrefix+'_FIELD_FAMILY_MEMBERS_NEW_MEMBER_PLACEHOLDER' | translate}})"
                   on-select="$ctrl.onFamilyMemberSelect(arg, isAdding, model)"
            ></field>

            <field name="notes" type="memo"
                   label="{{::$ctrl.translationPrefix+'_FIELD_NOTES' | translate}}"
                   model="$ctrl.data.notes"
            ></field>

        </form>
    </div>
</div>

<page-footer>
    <actions>
        <button-save form="$ctrl.form" translation-prefix="{{::$ctrl.translationPrefix}}" ng-click="$ctrl.save()"></button-save>
    </actions>
</page-footer>
