<table
        class="table table-striped table-hover"
        infinite-scroll="$ctrl.nextPage()"
        infinite-scroll-disabled="$ctrl.loading || $ctrl.endOfPages"
>
    <thead>
    <tr>
        <th class="text-center nav-link">
            <label>
                <input type="checkbox" ng-model="$ctrl.allSelected" ng-click="$ctrl.toggleSelected()">
            </label>
        </th>
        <th class="col-md-1 text-right" ng-click="$ctrl.orderBy($event, 'id')">#</th>
        <th class="col-md-1 text-right" ng-click="$ctrl.orderBy($event, 'amount')">
            {{::$ctrl.translationPrefix+'_LIST_TABLE_AMOUNT' | translate}}
        </th>
        <th class="col-md-2 text-right" ng-click="$ctrl.orderBy($event, 'paymentDate')">
            {{::$ctrl.translationPrefix+'_LIST_TABLE_PAYMENT_DATE' | translate}}
        </th>
        <th class="col-md-4 text-center" ng-click="$ctrl.orderBy($event, 'membershipType')">
            {{::$ctrl.translationPrefix+'_LIST_TABLE_MEMBERSHIP_TYPE' | translate}}
        </th>
        <th class="col-md-4 text-center" ng-click="$ctrl.orderBy($event, 'paymentType')">
            {{::$ctrl.translationPrefix+'_LIST_TABLE_PAYMENT_TYPE' | translate}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.rows">
        <th scope="row" class="text-center nav-link">
            <label>
                <input type="checkbox" ng-model="row.$selected" ng-click="$ctrl.toggleSelected(row)">
            </label>
        </th>
        <td class="col-md-1 text-right nav-link">
            <payment-link payment="row">{{row.id}}</payment-link>
        </td>
        <td class="col-md-1 text-right">
            <payment-link payment="row">{{row.amount | lCurrency}}</payment-link>
        </td>
        <td class="col-md-2 text-right">
            <payment-link payment="row">{{row.paymentDate | date}}</payment-link>
        </td>
        <td class="col-md-4 text-center">
            <payment-link payment="row">{{row.membershipType | membershipType}}</payment-link>
        </td>
        <td class="col-md-4 text-center">
            <payment-link payment="row">{{row.paymentType | paymentType}}</payment-link>
        </td>
    </tr>
    <tr ng-if="$ctrl.loading">
        <td colspan="6">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </td>
    </tr>
    </tbody>
</table>
