<page-header>
    <actions>
        <button-edit translation-prefix="{{::$ctrl.translationPrefix}}" ui-sref=".edit"></button-edit>
    </actions>
    {{::$ctrl.translationPrefix+'_DETAIL_TITLE'|translate}}
</page-header>

<div class="row" ng-if="$ctrl.data.id">
    <div class="col-md-12">
        <h3>
            <span>{{::($ctrl.data.membershipType | membershipType) || '-'}}</span>
            <small>{{::($ctrl.data.paymentType | paymentType) || '-'}}</small>
        </h3>
        <dl class="dl-horizontal">
            <dt>{{::$ctrl.translationPrefix+'_LABEL_AMOUNT'|translate}}</dt>
            <dd>{{::$ctrl.data.amount | lCurrency}}</dd>
            <dt>{{::$ctrl.translationPrefix+'_LABEL_PAYMENT_DATE'|translate}}</dt>
            <dd>{{::$ctrl.data.paymentDate | date}}</dd>
            <dt>{{::$ctrl.translationPrefix+'_LABEL_BILLING_MEMBER'|translate}}</dt>
            <dd><member-link member="::$ctrl.data.billingMember">{{::$ctrl.data.billingMember | member}}</member-link></dd>
        </dl>
    </div>

    <div class="col-md-12">
        <h2 class="page-header-">
            {{::$ctrl.translationPrefix+'_DETAIL_MEMBERS_TITLE' | translate}}
            <p class="small">{{::$ctrl.translationPrefix+'_DETAIL_MEMBERS_SUBTITLE' | translate}}</p>
        </h2>
        <list-members members="$ctrl.data.members" template="_table-short"></list-members>
    </div>

    <div class="col-md-12" ng-if="$ctrl.data.notes">
        <h2>{{::$ctrl.translationPrefix+'_LABEL_NOTES' | translate}}</h2>
        <pre>{{::$ctrl.data.notes}}</pre>
    </div>
</div>
