<page-header>
    <actions>
        <button-delete translation-prefix="{{::$ctrl.translationPrefix+'_LIST'}}"></button-delete>
        <button-new translation-prefix="{{::$ctrl.translationPrefix}}"></button-new>
    </actions>
    {{ ::$ctrl.translationPrefix+'_LIST_TITLE_PRIMARY' | translate}}
    <small>{{ ::$ctrl.translationPrefix+'_LIST_TITLE_SECONDARY' | translate}}</small>
</page-header>

<div class="row">
    <div class="col-lg-12">
        <table-payments></table-payments>
    </div>
</div>
