<sb-include src="/views/fields/container.html">
    <p class="input-group">
        <input type="text"
               class="form-control"
               id="{{::field.name}}"
               name="{{::field.name}}"
               aria-describedby="{{::field.name}}HelpBlock"
               placeholder="{{::field.placeholder}}"
               uib-datepicker-popup="{{::field.format.display}}"
               datepicker-options="::field.options"
               ng-model="field.model"
               max-date="field.max"
               min-date="field.min"
               is-open="field.opened"
               ng-required="::field.required"
               ng-change="field.onSelect()"
               current-text="{{'DATE_SELECTOR_TODAY' | translate}}"
               close-text="{{'DATE_SELECTOR_OK' | translate}}"
               clear-text="{{'DATE_SELECTOR_CLEAR' | translate}}"
        >
        <span class="input-group-btn">
      <button ng-if="field.model" type="button" class="btn btn-danger" ng-click="field.clear()">
        &times;
      </button>
      <button type="button" class="btn btn-default" ng-click="field.opened = true">
        <i class="glyphicon glyphicon-calendar"></i>
      </button>
    </span>
    </p>
</sb-include>
