<sb-include src="/views/fields/container.html">
  <ui-select
          input-id="{{::field.name}}"
          input-name="{{::field.name}}"
          ng-model="field.model"
          ng-disabled="field.disabled"
          on-remove="field.onSelect()"
          on-select="field.onSelect()">
    <ui-select-match placeholder="{{::field.placeholder}}" allow-clear>{{$select.selected.label || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="value.id as value in field.values | filter:$select.search">
      <span ng-bind-html="(value.label || value) | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>
</sb-include>
